* {
    padding: 0;
    margin: 0;
}

body {
    background: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #386B8B;
}

/* Nav-menu */

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

.logo img {
    display: flex;
    width: 85px;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    list-style: none;
    display: flex; 
}

.menu ul li {
  margin: 30px;
}
