* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;
    padding: 3em 0;

}

h1 {
    margin-bottom: 1em;
}

.header-title {
 text-align: center;
 color: #F04C1E;
}

.card  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    box-shadow: 0 0 25px #dad5cf74;   
    width: 600px;
    height: 800px;
    border-radius: 10px;
    background: #F6F4F2;

}

span {
    color: #386B8B;
}

.user-names li {
    font-size: 1.5rem;
    list-style: none;
    color: #F04C1E;
    margin: 30px;
}

.score li {
    font-size: 1.5rem;
    list-style: none;
    margin: 30px;
}



/* Header CSS */

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #386B8B;
}

.header-container {
    display: flex;
    justify-content: space-between;

}

.logo img {
    display: flex;
    width: 85px;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    list-style: none;
    display: flex; 
}

.menu ul li {
  margin: 30px;
}
