* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
	background: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;
}

.quiz {
    display: flex;
    justify-content: center;
    margin: 100px;
}

h1 {
    color: #f04c1e;
}

p {
    color: #f04c1e;
    font-weight: 600;
    padding: 0 0 50px 0;
}

.question-status {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0 0 10px 0;
}

span {
    color: #386B8B; 
}

/* Form */

.choices {
    display: flex;
    align-content: center;
    box-shadow: 0 0 25px #dad5cf74;   
    width: 900px;
    height: 300px;
    border-radius: 10px;
    background: #F6F4F2;
}

form {
    display: flex;
    align-items: center;
    margin: 30px 30px;
}

input[type="radio"] {
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    border: 2px solid rgb(165, 156, 156);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    margin: 10px;
}

/* Button */

label {
    color: #f04c1e;
}

.submit-btn {
    display: flex;
	flex-direction: column;
	align-items: center;
}

.submit {
	background-color:#f04c1e;
	border-radius:6px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:500;
	padding:8px 25px;
    text-decoration: none;
    margin: 3rem 0 0 0 ;
}

.submit:hover {
	background-color:#f76f49;
}

.submit:active {
	position:relative;
	top:1px;
}


