* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
	background: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;
}

.quiz {
    display: flex;
    justify-content: center;
    margin: 100px;
}

h1 {
    color: #f04c1e;
    padding: 0 3em;
}

p {
    color: #f04c1e;
    font-weight: 600;
    padding: 0 0 50px 0;
}

.question-status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
    padding: 1em;
}

.quiz-progress{
    display: flex;
    justify-content: space-between;
}

span {
    color: #386B8B; 
}

/* Form */

.choices {
    display: flex;
    align-content: center;
    box-shadow: 0 0 25px #dad5cf74;   
    width: 900px;
    height: 300px;
    border-radius: 10px;
    background: #F6F4F2;
}

form {

    background: #F6F4F2;
}

input[type="radio"] {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin: 1em;
}

/* Button */

label {
    color: #f04c1e;
}

.submit-btn {
    display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	background-color:#f04c1e;
    border-radius:6px;
    border: none;
	cursor:pointer;
	color:#ffffff;
    font-weight:500;
    align-self: center;
    width: 15em;
    height: 3.5em;
}

button:hover {
	background-color:#f76f49;
}

button:active {
	position:relative;
	top:1px;
}


@media screen and (max-width: 780px) {

    .choices{
      width: 250px;
    }

    .question-status{
        width: 250px;

    }

    h1 { 
        font-size: 1.5rem;
    }
  }