* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;

}

.save  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px #dad5cf74;  
    width: 450px;
    height: 400px;
    border-radius: 10px;
    background: #F6F4F2;
    color: #F04C1E;
    margin: 40px;
}