* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
	background: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-fb {
    color: #f04c1e;
    margin: 2em;
    display: flex;
    align-items: center;
}

span {
    color: #386B8B;
    font-weight: 500;
}

.correct {
    color: #f04c1e;
}

.user-answer {
    display: flex;
    box-shadow: 0 0 25px #dad5cf74;   
    width: 800px;
    height: 75px;
    border-radius: 10px;
    background: #F6F4F2;
    margin: 25px;
}

p {
    margin: 25px 50px 35px 50px;
}

.correct-answer {
    display: flex;
    box-shadow: 0 0 25px #dad5cf74;   
    width: 800px;
    height: 75px;
    border-radius: 10px;
    background: #F6F4F2;
    margin: 25px;
}

/* Buttons */

.cta {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em 0; 
    width: 20em;
}

.save {
	border-radius:6px;
	border: 3px solid #f04c1e;
	cursor:pointer;
	color:#f04c1e;
	font-weight: 500;
    font-family: 'Poppins', sans-serif;
    width: 10em;
    height: 3.7em;
}

.save:hover {
    background-color:#f76f49;
    color: #fff;
}

.save:active {
	position:relative;
	top:1px;
}

.next {
	background-color:#f04c1e;
	border-radius:6px;
	border: none;
	cursor:pointer;
	color:#ffffff;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    width: 10em;
    height: 3.7em;

}

.next:hover {
	background-color:#f76f49;
}

.next:active {
	position:relative;
	top:1px;
}


@media screen and (max-width: 650px) {

    .user-answer {
      width: 250px;
    }

    .correct-answer {
        width: 250px;
    }

    h1 { 
        font-size: 1.5rem;
    }
  }