* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #EFEBE7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

label {
    font-weight: 500;
    margin-top: 1em;
}

h1 {
    color: #F04C1E;
    text-align: center;
}

p {
    color: #000;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: ;
}


select {
    border: none;
    width: 150px;
    font-family: 'Poppins', sans-serif;
    border-radius: 2px;
}

textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 400px;
    border-radius: 3px;
}


input[type=submit] {
	background:#f04c1e;
	border: none;
	display:inline-block;
	cursor:pointer;
    color:#ffffff;
    border-radius:6px;
	font-weight:500;
	padding:10px 35px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;

   
}

.submit-btn {
    margin-top: 2em;
}
/* Media Query */

@media all and (max-width: 699px) {
    
    textarea {
      width: 200px;
    }

    h1 {
        font-size: 1.3rem;
    }

    p{
        font-size: .8rem;
    }

  }