* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    color: #F04C1E;
    margin: 3em;
}

.container {
    display: flex;
    justify-content: column;
}

.score {
    box-shadow: 0 0 25px #dad5cf74;   
    width: 400px;
    height: 200px;
    border-radius: 5px;
    background: #F04C1E;
    color: white;
    margin: 0 20px 20px 0;
}

h2 {
    text-align: center;
    padding: 25px;
}

.links {
    box-shadow: 0 0 25px #dad5cf74;   
    width: 400px;
    height: 200px;
    border-radius: 5px;
    background: #95D5E0;
    color: #386B8B;
}

h3 {
    text-align: center;
    padding: 25px;
}

.missed {
    box-shadow: 0 0 25px #dad5cf74;   
    border-radius: 5px;
    background: #F6F4F2;
    color: #F04C1E;
    padding: 1em;
    
}

p:first-child {
    font-style: italic;
}
p:nth-child(2){
    font-weight: bold;
}
/* Header */

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #386B8B;
}

/* Nav-menu */

.header-container {
    display: flex;
    justify-content: space-between;
    /* margin: 60px; */
}

.logo img {
    display: flex;
    width: 85px;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    list-style: none;
    display: flex; 
}

.menu ul li {
  margin: 30px;
}

.mQA {
    list-style: none;
}

/* Responsive */

@media screen and (max-width: 575px) {
    .container {
        display: block;
        
    }

    .missed {
      flex-direction: start;
    }
  }