* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
	background: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    color: #F04C1E;
    margin: 100px;
}

.container {
    display: flex;
}

.score {
    box-shadow: 0 0 25px #dad5cf74;   
    width: 400px;
    height: 200px;
    border-radius: 5px;
    background: #F04C1E;
    color: white;
    margin: 0 20px 20px 0;
}

h2 {
    text-align: center;
    padding: 25px;
}

.links {
    box-shadow: 0 0 25px #dad5cf74;   
    width: 400px;
    height: 380px;
    border-radius: 5px;
    background: #95D5E0;
    color: #386B8B;
}

h3 {
    text-align: center;
    padding: 25px;
}

.missed {
    box-shadow: 0 0 25px #dad5cf74;   
    width: 600px;
    height: 600px;
    border-radius: 5px;
    background: #F6F4F2;
    color: #F04C1E;
}
