* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;

}

a {
    text-decoration: none;
  }
  
  nav {
    font-family: 'Poppins', sans-serif;
    background-color:#f04c1e;
	border-radius:6px;
  }
  
  ul {
    border-radius: 3px;
    background: #F04C1E;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    color: #fff;
    background: #E05D38;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color: #fff;
  }
  
  li:hover {
    background: red;
    cursor: pointer;
  }
  
  ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul, /* this is the line we add */
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }
  
  
  
  
  
