* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;

}
  
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color:#F6F4F2;
    width: 600px;
    height: 500px;
    border-radius:6px;
    margin: 100px 0 0 0;
  }

 select {
   border: none;
   font-family: 'Poppins', sans-serif;
 }
 
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

 input[type=submit] {
	border-radius:6px;
	border: none;
  display:inline-block;
  font-family: 'Poppins', sans-serif;
	cursor:pointer;
	color:#fff;
	font-weight:500;
	padding:8px 25px;
    text-decoration:none;
    margin: 3rem 0 0 0 ;
}

input[type=submit] {
  display: flex;
  flex-direction: column;
  align-items: center;
	background:#F04C1E;
}

.submit:hover {
	background-color:#eee;
}

.input:active {
	position:relative;
	top:1px;
}


  
  
  
