* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  
  background-color: #EFEBE7 ;
  font-family: 'Poppins', sans-serif;

}

p {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #F04C1E;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 100px 0 0 0 ;

}

span {
  display: flex;
  justify-content: space-around;
}
  
form {
  display: flex;
  flex-direction: column;
  padding: 5em 0;
}

nav {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color:#F6F4F2;
  border-radius:6px;

}

.selection-container {
    display: flex;
}
.length {
  color: #F04C1E;
  font-weight: 500;
}

.category {
  color: #F04C1E;
  font-weight: 500;
}

.type {
  color: #F04C1E;
  font-weight: 500;
}

 select {
   border: none;
   font-family: 'Poppins', sans-serif;
   margin: 20px;
 }
 
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 input[type=submit] {
	border-radius:6px;
	border: none;
  /* display: flex; */
  /* flex-direction: column; */
  font-family: 'Poppins', sans-serif;
	cursor:pointer;
	color:#fff;
	font-weight:500;
	padding:8px 25px;
  text-decoration:none;
  margin: 3rem 0 0 0 ;
}

input[type=submit] {
  display: flex;
  flex-direction: column;
  align-items: center;
	background:#F04C1E;
}

.submit:hover {
	background-color:#eee;
}

.input:active {
	position:relative;
	top:1px;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #386B8B;
}

/* Nav-menu */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo img {
    width: 5em;
}

.menu {
    list-style: none;
    width: 10em;
}

.menu ul {
    list-style: none;
    display: flex; 
    display: flex;
    justify-content: space-between;
}

.customize {
    margin-top: 5em;
}
  
  
  
