* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F04C1E;
    
}

.score {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 25px #dad5cf74;   
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background: #F04C1E;
    margin: 40px;
    color: white;
}

.links {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 25px #dad5cf74;   
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background: #95D5E0;
    margin: 40px;
    color: #386B8B;
}

.missed {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 25px #dad5cf74;   
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background: #F6F4F2;
    margin: 40px;
    color: #F04C1E;
}