* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #EFEBE7 ;
    font-family: 'Poppins', sans-serif;
}

/* Welcome Message */

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f04c1e;
    margin: 100px 0 0 0;
}

p {
    color: #386B8B;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 35px 0 45px 0;
}

/* Buttons */

.cta {
    display: flex;
	flex-direction: column;
	align-items: center;	
}

.startover {
	border-radius:6px;
	border: 3px solid #f04c1e;
	display:inline-block;
	cursor:pointer;
	color:#f04c1e;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	padding: 8px 25px;
    text-decoration:none;
}

.startover:hover {
    background-color:#f76f49;
    color: #fff;
}

.startover:active {
	position:relative;
	top:1px;
}

.resume {
	background-color:#f04c1e;
	border-radius:6px;
	border: 3px solid #f04c1e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
	padding: 10px 28px;
	text-decoration:none; 
	margin: 0 0 60px 0;
}

.resume:hover {
	background-color:#f76f49;
}

.resume:active {
	position:relative;
	top:1px;
}

/* Media Query */

@media only screen and (max-width: 40rem), (min-width: 200){
   
    h1 {
        font-size: 1.3rem;
    }

	p {
		font-size: 1rem;
	}
}