<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/leaderboard.css">
    <title>Leader-Board</title>
</head>
<body>
    <!-- ${header} -->
    <div class="header-title">
        <h1>(leaderBoard);</h1>
        <div class="card">
        <div class="user-names">
            <ul>
                <li>${userName}</li>
            </ul>
        </div>
        <div class="score">
            <ul>
                <li>{$userScore}</li>
            </ul>
        </div>
        <div class="badges"></div>
        </div>
    </div>

    <!-- ${footer} -->
</body>
</html>




