<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>dcQuiz | Login</title>
</head>
<body>
    <div class="form">
        <form method="POST">
            <label for="Username">Username</label>
            <input type="text" name="username" autofocus><br><br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <input class="login" type="submit" value="Log in">
        </form>

        <form action="/sign-up" method="GET">
            <p class="no-account">Don't have an account?</p>
            <input class="signup" type="submit" value="Sign Up">
        </form>
    </div>    
</body>
</html>