<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main-quiz.css">
    <title>dcQuiz | Main Quiz</title>
</head>
<body>

    <div class="quiz"> 
        <h1>(quiz);</h1>
    </div>
    <h1>${question}</h1>

    <form action="" method="POST">
        <div class="question-status">
            <div class="quiz-progress">
                <span>Question ${questionNum} of ${quizLength}</span>
                <span>Score ${score}/${quizLength}</span>
            </div>

        ${answers.map(answer => `
            <label for="">
                <input name="answer" type="radio" autofocus value="${answer}">${answer}
            </label>
        `).join('')}
        
        <button type="submit">Submit</button>

    </form>
        

</body>
</html>  
