<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/progress-saved.css">
    <title>dcQuiz | Progress Saved</title>
</head>
<body>
 


    <div class="save">
        <h2>Thank you!</h2>
        <p>Your session has been saved</p>
    </div>


    
</body>
</html>