<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/question-feedback.css">
    <title>Question</title>
</head>
<body>
    <!-- ${header} --> 
    <div class="question-container">
        <div class="question-fb">
            <h1>(questionFeedback);</h1>
        </div>
        <span>You Picked:</span>
        <div class="user-answer">
            <p>a) .remove()</p>
        </div>
        <span class="correct">Correct Answer:</span>
        <div class="correct-answer">
            <p>a) .remove()</p>
        </div>
        <div class="cta">
            <div class="next-btn">
                <input class="next"type="button" value="Next">
            </div>
             <div class="save-btn">
                <input class="save"type="button" value="Save & Quit">
            </div>
        </div>
    <!-- ${foooter} -->    
</body>
</html>