<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/quiz-setting.css">
    <title>dcQuiz | Quiz Settings</title>
</head>
<body>
    ${header}
    <div class="customize">
        <p>Customize your quiz!</p>
    </div>
    <nav role="navigation"> 
        <form action="" method="POST">
        <div class="length">
            <span>Number of Questions</span>
            <select name="length" id="">
                ${Array.from({length: 40}, (_,i) => i+1).map(item => 
                    `<option value="${item}">${item}</option>`
                ).join('')}
            </select>
        </div>

        <div class="category">
            <span>Category</span>
            <select name="category" id="category">
                ${categories.map(item => 
                    `<option value="${item.id}">${item.category_title}</option>`
                ).join('')}
            </select>       
        </div>

        <div class="type">
            <span>Type</span>     
            <select name="type" id="">
                ${types.map(item => 
                    `<option value="${item.id}">${item.Type}</option>`
                    ).join('')}
            </select>
        </div>


            <div class="btn-container">
            <input type="submit" value="Make my quiz!">
            </div>

        </form>
    </nav>
</body>
</html>

