<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/quiz-feedback.css">
    <title>dcQuiz | Quiz Feedback</title>
</head>
<body>
    <div class="title">
        <h1>(quizFeedback);</h1>
    </div>
    <div class="container">
        <div class="score">
            <h2>Final Score</h2>
        </div>
        <div class="links">
            <h3>Suggested Links</h3>
        </div>  
    </div>
    <div class="missed">
        <h3>Questions you missed</h3>
    </div>
</body>
</html> 