<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/resume-startover.css">
    <title>Resume</title>
</head>
<body>
    <!-- ${header} -->
    <div class="welcome">
        <h1>Welcome Back ${user}!</h1>
        <p>What would you like to do?</p>
    </div>
    <div class="cta">
        <div class="startover-btn">
            <a href="#" class="startover">Start Over</a>
        </div>
        <div class="resume-btn">
            <a href="#" class="resume">Resume</a>
        </div>
    </div>
    <!-- ${foooter} -->  
</body>
</html>