<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/save-confirm.css">
    <title>dcQuiz</title>
</head>
<body>
    <div class="save">
        <h1>Thank you!</h1>
        <p>Your session has been saved!</p>
    </div>
</body>
</html>


<!-- MIGHT NEED TO DELETE THIS ONE WE HAVE PROGESS SAVE INSTEAD -->