<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <title>dcQuiz | Sign Up</title>
</head>
<body>
    <div class="form">
        <form method="POST">
            <label for="first">First Name:</label>
            <input type="text" name="first" autofocus><br><br>

            <label for="last">Last Name:</label>
            <input type="text" name="last"><br><br>

            <label for="username">Username:</label>
            <input type="text" name="username"><br><br>

            <label for="email">Email:</label>
            <input type="text" name="email"><br><br>

            <label for="password">Password:</label>
            <input type="text" name="password"><br>
            
            <div class="signup-button">
            <input class="signup"type="button" value="Sign Up">
            </div>
        </form>
    </div>
</body>
</html>
