<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/signup.css">
    <title>dcQuiz | Login</title>
</head>
<body>
    <!-- ${header} -->
    <div class="form">
        <form method="POST">
            <p>Full Name:</p>
            <input type="text" name="fullname" autofocus>
            <p>User Name:</p>
            <input type="text" name="username">
            <p>Email:</p>
            <input type="text" name="email">
            <p>Password:</p>
            <input type="text" name="password">
            <div class="signup-button">
            <a href="#" class="signup">Sign Up</a>
            </div>
        </form>
    </div>
    <!-- ${footer} -->
</body>
</html>