<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/signup.css">
    <title>dcQuiz | Login</title>
</head>
<body>
    <div class="form">
        <form method="POST">
            <label for="first">First:</label>
            <input type="text" name="first" autofocus>

            <label for="last">Last:</label>
            <input type="text" name="last" autofocus>

            <label for="username">Username:</label>
            <input type="text" name="username">

            <label for="email">Email:</label>
            <input type="text" name="email">

            <label for="password">Password:</label>
            <input type="text" name="password">

            <div class="signup-button">
            <input type="submit" value="Sign Up">
            </div>
        </form>
    </div>
</body>
</html>
